<template>
  <div id="client-container">
    <!-- the client module -->
    <div class="row" data-magellan-destination="clients">
      <a name="clients"></a>
      <div class="columns small-12">
        <form>
          <fieldset>
            <legend>Clients</legend>

            <!-- client -->
            <div class="row">
              <div class="large-12 columns">
                <label>
                  Client
                  <input
                    type="text"
                    placeholder="client name"
                    v-model="c.name"
                    @change="updateConsumers"
                  />
                </label>
              </div>
            </div>

            <hr />

            <!-- contact -->
            <div class="row">
              <div class="large-6 columns">
                <label>
                  Contact First Name
                  <input
                    type="text"
                    placeholder="first name"
                    v-model="c.contactFirst"
                    @change="updateConsumers"
                  />
                </label>
              </div>
              <div class="large-6 columns">
                <label>
                  Contact Last Name
                  <input
                    type="text"
                    placeholder="last name"
                    v-model="c.contactLastName"
                    @change="updateConsumers"
                  />
                </label>
              </div>
            </div>

            <hr />
            <!-- address -->
            <div class="row">
              <div class="large-4 columns">
                <label>
                  Address Line 1
                  <input
                    type="text"
                    placeholder="addr line 1"
                    v-model="c.addrLine1"
                    @change="updateConsumers"
                  />
                </label>
              </div>
              <div class="large-4 columns">
                <label>
                  City
                  <input
                    type="text"
                    placeholder="city"
                    v-model="c.city"
                    @change="updateConsumers"
                  />
                </label>
              </div>
              <div class="large-2 columns">
                <label>
                  State
                  <select v-model="c.state" @change="updateConsumers">
                    <option>--Select State--</option>
                    <option v-for="(s, idx) in states" :key="idx" :value="s.abbreviation">{{s.name}}</option>
                  </select>
                </label>
              </div>
              <div class="large-2 columns">
                <label>
                  zip
                  <input type="text" placeholder="zip" v-model="c.zip" @change="updateConsumers" />
                </label>
              </div>
            </div>

            <hr />
            <!-- contact method -->
            <div class="row">
              <div class="large-6 columns">
                <label>
                  Phone
                  <input
                    type="text"
                    placeholder="phone number (nnn) nnn-nnnn"
                    v-model="c.phone"
                    @change="updateConsumers"
                  />
                </label>
              </div>
              <div class="large-6 columns">
                <label>
                  Email
                  <input
                    type="email"
                    placeholder="email xxx@xxx.com"
                    v-model="c.email"
                    @change="updateConsumers"
                  />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="columns large-10"></div>
              <div class="columns large-1">
                <a href="#" @click="save">Save</a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div>
      <a href="#" @click="addNewJob">Add Job</a>
    </div>
    <!-- the work request module -->
    <div class="row" data-magellan-destination="jobs">
      <a name="jobs"></a>
      <div class="columns small-12">
        <fieldset>
          <legend>Jobs</legend>

          <ul class="tabs" data-tab>
            <li
              class="tab-title"
              v-bind:class="{ active: activeTab=='tabjob' + idx }"
              v-for="(j, idx) in c.jobs"
              :key="idx"
            >
              <a @click="activeTab='tabjob' + idx">{{j.name}}</a>
            </li>
          </ul>

          <div class="tabs-content">
            <div
              class="content"
              v-bind:class="{ active: activeTab=='tabjob' + idx }"
              v-for="(j, idx) in c.jobs"
              :key="idx"
              :id="'tabjob' + idx"
            >
              <kv-job v-model="c.jobs[idx]" @save:job="onJobSaved"></kv-job>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</template>

<script>
import KvJob from "./KvJob";
import __job from '../assets/interfaces.js';

export default {
  components: { KvJob },
  props: {
    value: Object,
    stateList: Array
  },
  data: function() {
    return {
      c: JSON.parse(JSON.stringify(this.value)),
      states: this.stateList,
      activeTab: "tabjob0"
    };
  },
  methods: {
    save: function() {
      this.$emit("save:client", this.c);
    },
    updateConsumers: function() {
      this.$emit("input", this.c);
    },
    onJobSaved: function(j) {
      if (j) {
        const jIdx = (this.c.jobs || []).findIndex(val => val.name === j.name);
        if (jIdx > -1) {
          this.c.jobs[jIdx] = j;
        } else {
          this.c.jobs.push(j);
        }

        this.save();
      }
    },
    addNewJob: function() {
      const _newName = prompt(
        "The new job's name (this can not be changed)",
        `Job${(this.c.jobs || []).length + 1}`
      );
      if (!_newName.trim()) {
        alert("The name is required.");
      } else {
        const newJob = Object.assign({}, __job);
        // newJob.id = `job${Math.random().toString(36).slice(2)}`;
        newJob.name = _newName;
        (this.c.jobs || []).push(newJob);
      }

      this.updateConsumers();
    }
  },
  filters: {
    dtToString: function(val) {
      if (!val) return "";
      let dt = new Date(val);
      return `${dt.getFullYear()}-${dt.getMonth()}-${dt.getDate()}`;
    }
  },
  created: function() {},
  mounted: function() {}
};
</script>

<style>
</style>