<template>
  <div>
    <div class="row">
      <div class="columns large-12">
        <label>
          Name:
          <input
            class="radius"
            type="text"
            placeholder="job name"
            v-model="j.name"
            :disabled="true"
            @change="updateConsumers"
          />
        </label>
      </div>
    </div>

    <div class="row">
      <div class="columns large-12">
        <label>
          Description:
          <textarea
            placeholder="notes"
            v-model="j.description"
            @change="updateConsumers"
          ></textarea>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="columns large-3">
        <label>
          Bill Rate
          <input
            type="number"
            step=".01"
            v-model.number="j.billRate"
            @change="updateConsumers"
          />
        </label>
      </div>
      <div class="columns large-3">
        <label>
          Bill Rate Type
          <select v-model="j.billTypes" @change="updateConsumers">
            <option value>--select--</option>
            <option value="hourly">Hourly</option>
            <option value="flat">Flat</option>
            <option value="project">Project</option>
            <option value="other">Other</option>
          </select>
        </label>
      </div>
      <div class="columns large-3">
        <label>
          Start DT
          <input type="date" v-model="startDt" @change="updateConsumers" />
        </label>
      </div>
      <div class="columns large-3">
        <label>
          Due DT
          <input type="date" v-model="dueDt" @change="updateConsumers" />
        </label>
      </div>
    </div>

    <div class="row">
      <div class="columns large-3">
        <label>
          Approved By
          <input
            type="datetime"
            placeholder="approved by"
            v-model="j.approvedBy"
            @change="updateConsumers"
          />
        </label>
      </div>
      <div class="columns large-3" @change="updateConsumers">
        <label>
          Completion DT
          <input type="date" v-model="completionDt" />
        </label>
      </div>
      <div class="columns large-3" @change="updateConsumers">
        <label>
          Closed DT
          <input type="date" v-model="closedDt" />
        </label>
      </div>
      <div class="columns large-3">
        <label>
          Paid
          <input
            type="number"
            min="0.00"
            step="0.01"
            v-model.number="j.amountCollected"
            @change="updateConsumers"
          />
        </label>
      </div>
    </div>

    <div class="row">
      <div class="columns large-2 pull-right">
        <div class="columns large-2 pull-right">
          <button type="submit" @click="onSaved">Save</button>
        </div>
      </div>
      <div class="columns large-10">
        <div>
          <a href="#" v-on:click.stop="addNewWorkitem">Add A WorkItem</a>
        </div>
        <kv-workitem
          v-model="j.workItems[idx]"
          v-for="(w,idx) in j.workItems"
          :key="idx"
          @save:workitem="onWorkItemSaved"
        />
      </div>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import dayjsPluginUTC from 'dayjs-plugin-utc'
dayjs.extend(dayjsPluginUTC);
import KvWorkitem from "./KvWorkitem";

 import {__workItem } from '../assets/interfaces.js';

export default {
  components: { KvWorkitem },
  props: {
    value: Object
  },
  data: function() {
    return {
      j: JSON.parse(JSON.stringify(this.value))
    };
  },
  methods: {
    updateConsumers: function() {
      this.$emit("input", this.j);
    },
    onSaved: function() {
      this.$emit("save:job", this.j);
    },
    addNewWorkitem: function() {
      //first disable all of the other workitems
      /* eslint-disable no-debugger */ 
      debugger; 
      for (let index = 0; index < this.j.workItems.length; index++) {
        this.j.workItems[index].isNew = false;
      }
      const now = dayjs.utc().format("YYYY-MM-DDTHH:mm:ss");
      this.j.workItems.push(
        Object.assign({}, __workItem, {
          description: `started at ${now}`,
          creationDt: now
        })
      );
    },
    onWorkItemSaved: function($evt) {
      console.info("onWorkItemSaved", $evt);
      this.addNewWorkitem();
    }
  },
  computed: {
    startDt: {
      get: function() {
        if (this.j.clientApprovalDt)
          return dayjs.utc(this.j.clientApprovalDt).format("YYYY-MM-DD");
        else return "";
      },
      set: function(val) {
        if (val) this.j.clientApprovalDt = dayjs.utc(val).format("YYYY-MM-DD");
      }
    },
    dueDt: {
      get: function() {
        if (this.j.dueDt) return dayjs.utc(this.j.dueDt).format("YYYY-MM-DD");
        else return "";
      },
      set: function(val) {
        if (val) this.j.dueDt = dayjs.utc(val).format("YYYY-MM-DD");
      }
    },
    completionDt: {
      get: function() {
        if (this.j.completionDt)
          return dayjs.utc(this.j.completionDt).format("YYYY-MM-DD");
        else return "";
      },
      set: function(val) {
        if (val) this.j.completionDt = dayjs.utc(val).format("YYYY-MM-DD");
      }
    },
    closedDt: {
      get: function() {
        if (this.j.closedDt)
          return dayjs.utc(this.j.closedDt).format("YYYY-MM-DD");
        else return "";
      },
      set: function(val) {
        if (val) this.j.closedDt = dayjs.utc(val).format("YYYY-MM-DD");
      }
    }
  }
};
</script>

<style>
</style>