<template>
  <label>
    {{loadingLabel}}... {{loadingText}}
    <progress
      class="secondary"
      max="100"
      :value="percent"
    >{{loadingText}}</progress>
  </label>
</template>

<script>
export default {
  props: ["startProgress", "progressLabel"],
  data: function() {
    return {
      percent: 0,
      ptr: null
    };
  },
  computed: {
    loadingText: function() {
      return `${this.percent}%`;
    },
    loadingLabel: function() {
      return this.progressLabel || "Loading";
    },
    styleValue: function() {
      return { width: `${this.percent}px` };
    }
  },
  watch: {
    startProgress: {
      immediate: true,
      handler: function(newAction) {
        if (newAction) this.start();
        else this.stop();
      }
    }
  },
  methods: {
    start: function() {
      const that = this;

      if (this.ptr && typeof this.ptr == "number") {
        this.stop();
      }

      this.ptr = setInterval(() => {
        let increment = 10;
        if (that.percent == 100) {
          increment *= -1;
        }
        that.percent += increment;
      }, 1000);
    },
    stop: function() {
      clearInterval(this.ptr);
      this.ptr = null;
    }
  }
};
</script>

<style>
</style>