<template>
 <div>
        
        <div class="row">
            <div class="small-3 columns">
                <div class="row collapse prefix-round">
                    <div class="small-4 columns">
                        <button role="button" :disabled="!w.isNew" class="button prefix" @click="updateTime">{{page.updateTimelable}}</button>
                    </div>
                    <div class="small-8 columns">
                        <input type="text" :disabled="!w.isNew"  placeholder="hh:mm" v-model="billable" @change="updateConsumers" >
                    </div>
                </div>
            </div>
            <div class="small-9 columns">            
                <textarea :disabled="!w.isNew"  placeholder="description" v-model="w.description"  @change="updateConsumers" />
            </div>
        </div>

    </div>
</template>

<script>
/* eslint-disable  no-prototype-builtins */
export default {
  components: {},
  props: {
    value: {
      type: Object,
      validator: function(val) {
        return (
          val &&
          val.hasOwnProperty("billableTime") &&   
          val.hasOwnProperty("description")
        );
      }
    }
  },
  data: function() {
    return {
      w: JSON.parse(JSON.stringify(this.value)),
      page: {
        updateTimelable: "Track",
        setIntervalRef: null,
        hours: 0,
        mins: 0
      }
    };
  },
  computed: {
    billable: {
      get: function() {
        return `${(this.w.billableTime.hours || 0)
          .toString()
          .padStart(2, "0")}:${(this.w.billableTime.minutes || 0)
          .toString()
          .padStart(2, "0")}`;
      },
      set: function(val) {
        console.info(`billable.set received ${val}`);
        const timeAr = val.split(":");
        this.w.billableTime.hours = parseInt(timeAr[0]);
        this.w.billableTime.minutes = parseInt(timeAr[1]);
      }
    }
  },
  methods: {
    updateConsumers: function() {
      this.$emit("input", this.w);
    },
    updateTime: function() {
      if (this.page.updateTimelable === "Track") {
        this.page.hours = 0;
        this.page.mins = 0;

        //keep track of time
        this.page.updateTimelable = "00:00:00";

        let secs = 0;
        this.page.setIntervalRef = setInterval(() => {
          secs += 1;
          if (secs == 61) {
            secs = 0;
            this.page.mins += 1;
          }
          if (this.page.mins == 61) {
            this.page.hours += 1;
            this.page.mins = 0;
          }
          this.page.updateTimelable = `${this.page.hours
            .toString()
            .padStart(2, "0")}:${this.page.mins
            .toString()
            .padStart(2, "0")}:${secs.toString().padStart(2, "0")}`;
        }, 1000);
      } else {
        //stop the timer
        clearInterval(this.page.setIntervalRef);

        this.page.updateTimelable = "Track";

        this.w.billableTime.hours = this.page.hours;
        this.w.billableTime.minutes = this.page.mins;

        // if (this.page.hours || this.page.mins) {
        //     //broadcast a workitem saved event
        //     this.emitSaveEvent();
        // }
      }
    },
    emitSaveEvent: function() {
      this.$emit("save:workitem", this.w);
    }
  }
};
</script>

<style>
</style>