<template>
  <div id="app">
    <kv-progress
      :start-progress="progressBar.start"
      :progress-label="progressBar.label"
      v-if="progressBar.start"
    ></kv-progress>

    <!-- top sticky navigation bar -->
    <div data-magellan-expedition="fixed">
      <dl class="sub-nav">
        <dd data-magellan-arrival="clients">
          <a href="#clients">Manage Clients</a>
        </dd>
        <dd data-magellan-arrival="jobs">
          <a href="#jobs">Manager Jobs</a>
        </dd>
      </dl>
    </div>
    <div class="row">
      <div class="columns small-4">
        <a href="#" @click="addNewClient" class="left">Add Client</a>
      </div>
      <div class="columns small-4"></div>
      <div class="columns small-4"></div>
    </div>
    <!--tabs for clients-->
    <ul class="tabs" data-tab>
      <li
        class="tab-title"
        v-bind:class="{ active: activeTab== 'tab_client_' + idx }"
        v-for="(c, idx) in clients"
        :key="idx"
      >
        <a href="#" @click="activeTab='tab_client_' + idx">{{c.name}}</a>
      </li>
    </ul>
    <div class="tabs-content">
      <!--tab content for clients-->
      <div
        class="content"
        v-bind:class="{ active: activeTab== 'tab_client_' + idx}"
        v-for="(c, idx) in clients"
        :key="idx"
        :id="'tab_client_' + idx"
      >
        <kv-client
          v-if="clients.length && stateList.length"
          v-model="clients[idx]"
          :state-list="stateList"
          @save:client="onSaved"
        ></kv-client>
      </div>
    </div>
  </div>
</template>

<script>
import root_api from "./assets/env";
import KvProgress from "./components/KvProgress";
import KvClient from "./components/KvClient";

import { __client_data} from './assets/interfaces';

export default {
  name: "App",
  components: {
    KvProgress,
    KvClient
  },
  data: function() {
    return {
      clients: [],
      stateList: [],
      progressBar: { start: false, label: "Loading" },
      activeTab:'tab_client_0'
    };
  },
  methods: {
    _getStates: async function() {
      this.stateList = [];
      return await fetch(root_api + "/api/List/GetStates")
        .then(resp => resp.json())
        .then(data => (this.stateList = data));
    },
    _getData: async function() {
      this.clients = []; //[Object.assign({}, __client_data.c)];
      return await fetch(root_api + "/api/Client")
        .then(resp => resp.json())
        .then(data => (this.clients = data || []))
        .catch(error => {
          console.error("api/Client GET:", error);
        });
    },
    _getLookUpData: async function() {
      this.stateList = [];
      return await fetch(root_api + "/api/List/GetStates")
        .then(resp => resp.json())
        .then(data => (this.stateList = data))
        .catch(error => {
          console.error("/api/List/GetStates GET:", error);
        });
    },
    _load: async function() {
      await this._getStates();
      await this._getData();
    },
    onSaved: function(client) {
      const that = this;
      if (client) {
        const opts = {
          method: "POST",
          mode: "cors",
          body: JSON.stringify(client),
          headers: {
            "Content-Type": "application/json"
          }
        };

        this.clients = [];

        if (!this.progressBar.start) {
          this.progressBar.start = true;
          this.progressBar.label = "Saving";
        }
        fetch(root_api + "/api/Client", opts)
          .then(resp => {
            if (resp.status >= 200 && resp.status < 400) return true;
            else {
              throw `${resp.status}-${resp.statusText}`;
            }
          })
          .then(() => {
            that.progressBar.start = false;
            this._load();
          })
          .catch(error => {
            that.progressBar.start = false;
            alert(
              `api/Client POST: ${error ||
                "there was an unhandled exception. try again"}`
            );
            this._load();
          });
      }
    },
    addNewClient: function() {
      console.info("addNewClient");
      const newClient = Object.assign({}, __client_data.c);
      newClient.name = "New Client";

      this.clients.push(newClient);
      
    }
  },
  filters: {
    dtToString: function(val) {
      if (!val) return "";
      let dt = new Date(val);
      return `${dt.getFullYear()}-${dt.getMonth()}-${dt.getDate()}`;
    }
  },
  created: function() {},
  mounted: function() {
    this.progressBar.start = true;
    this.progressBar.label = "Loading";

    let allPromises = [this._getLookUpData()];
    allPromises.push(this._getStates());
    allPromises.push(this._getData());

    Promise.all(allPromises).then(() => (this.progressBar.start = false));
  }
};
</script>

<style>
</style>
